h1 {
  font-size: 50px;
  font-family: "Caveat", cursive;
}

.back-img:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("https://i.pinimg.com/736x/96/a9/83/96a983c729760e5afb78fa597f7c04f8.jpg")
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
}
